.pointDisplay {
  position: absolute;
  top: 0;
  left: 5%;
  font-size: 40px;
  z-index: 100000;
  display: none;
}

.playerColor {
  color: blue;
  font-weight: bold;
}
.enemyColor {
  color: red;
  font-weight: bold;
}
/* .easy_color{
  color: rgb(40, 142, 81);
}
.normal_color{
  color: rgb(114, 163, 40);
}
.hard_color{
  color: rgb(231, 13, 42);
} */
.legendColor {
  color: purple;
  font-weight: bold;
}

.square td {
  margin: 0;
  padding: 0;
}

.gameContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.gamePrevBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: beige;
  align-items: center;
}

.gamePrevBox .gameManual .manualBox {
  background-color: rgb(249, 249, 249);
  margin: 5px 15px;
  padding: 5px 0;
  border-radius: 15px;
}

.gamePrevBox .gameManual .manualBox p {
  font-weight: bold;
  text-align: center;
}

.squareTable {
  height: 90vh;
  background-image: url(https://images.unsplash.com/photo-1505506874110-6a7a69069a08?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}

/* 升目の大きさ */
.square {
  border: 1px solid rgb(210, 210, 210);
  width: 50px;
  height: 50px;
  text-align: center;
}

.gameSettings {
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.gameSettings select {
  width: 10vw;
  height: 2vw;
}

.gameController {
  background-color: rgb(105, 133, 136);
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameStarter {
  background-color: rgb(76, 101, 225);
  height: 100px;
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.gameStarter:hover {
  opacity: 0.6;
  cursor: pointer;
}

.gameStarter .gameStartBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0;
}

.game-starter.disabled {
  background-color: gray;
  border-radius: 15px;
  pointer-events: none;
}

.gameController span {
  border: 1px black solid;
  width: 40px;
  height: 40px;
  background-color: rgb(226, 226, 226);
}

.gameController .up:active {
  box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.5);
}

.gameController .left:active {
  box-shadow: inset 4px 0px 5px rgba(0, 0, 0, 0.5);
}

.gameController .right:active {
  box-shadow: inset -4px 0px 5px rgba(0, 0, 0, 0.5);
}

.gameController .down:active {
  box-shadow: inset 0px -4px 5px rgba(0, 0, 0, 0.5);
}

.wideBox {
  display: flex;
  margin: 5px;
}

.wideBox .left {
  margin-right: 50px;
}

.player {
  background-image: url("/player.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: inline-block;
  width: 99%;
  height: 99%;
}

.enemy {
  background-image: url("/enemy.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: inline-block;
  width: 50%;
  height: 50%;
}

.attack {
  background-image: url("/misile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: inline-block;
  width: 50%;
  height: 50%;
}

.endDisplay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.endDisplay.lose {
  background-color: rgba(179, 86, 86, 0.6);
  width: 100vw;
  display: flex;
}

.endDisplay.win {
  background-color: rgba(36, 85, 198, 0.6);
  width: 100vw;
  display: flex;
}

.endDisplay p {
  width: 20vw;
  height: 100px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: rgb(59, 59, 59);
  border-radius: 15px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.endDisplay p:hover {
  background-color: rgb(209, 179, 179);
  cursor: pointer;
}

.endGameBox{
  
}